<nav class="navContainer">
    <div class="NavLogo">
        <span>Logo</span>
    </div>
    <ul class="NavLista">
        <li>
            <NavLink class="NavLista_Link" href="">Home</NavLink>
        </li>
        <li>
            <NavLink class="NavLista_Link" href="/counter">counter</NavLink>
        </li>
        <li>
            <NavLink class="NavListaLink" href="/Personaje">Personaje</NavLink>
        </li>
    </ul>
</nav>