@page "/Personaje"

<form class="row g-3 justify-content-end">
    <div class="col-md-6">
        <label for="Nombre" class="form-label">Nombre de la película</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Ingrese Nombre" required>
    </div>
    <div class="col-md-6">
        <label for="Apodo" class="form-label">Apodo de la película</label>
        <input type="text" class="form-control" id="Apodo" placeholder="Ingrese Apodo" required>
    </div>

    <div class="col-md-6">
        <label for="Raza" class="form-label">Raza de la película</label>
        <input type="text" class="form-control" id="Raza" placeholder="Ingrese Raza" required>
    </div>
    <div class="col-md-6">
        <label for="Foto_URL" class="form-label">Foto URL de la película</label>
        <input type="text" class="form-control" id="Foto_URL" placeholder="Ingrese Foto URL" required>
    </div>
    <div class="col-md-6">
        <label for="Edad" class="form-label">Edad de la película</label>
        <input type="text" class="form-control" id="Edad" placeholder="Ingrese Edad" required>
    </div>
    <div class="col-md-6">
        <label for="Característico" class="form-label">Característico de la película</label>
        <input type="text" class="form-control" id="Característico" placeholder="Ingrese Característico" required>
    </div>


    <div class="col-md-2 text-end">
        <button class="btn btn-primary" type="submit">Enviar formulario</button>
    </div>
</form>